.Xauthority
.anydesk
.cache
.cargo
.config/BraveSoftware
.config/BetterDiscord Installer
.config/Electron
.config/FreeTube
.config/GitHub Desktop
.config/JetBrains
.config/Microsoft
.config/QtProject.conf
.config/VSCodium
.config/WhatsAppQTrc
.config/chromium
.config/discordcanary
.config/dolphinrc
.config/gwenviewrc
.config/katemetainfos
.config/katerc
.config/kde.org
.config/kdeconnect
.config/konsolerc
.config/libaccounts-glib
.config/pulse
.config/qBittorrent
.config/session
.config/spectaclerc
.config/spotify
.dbus
.firedragon
.gitconfig
.gnupg
.java
.local
.mozilla
.pki
.ssr
.tor-browser
.zcompdump
.zhistory
Desktop
Documents
Downloads
Music
Pictures
Videos
